.open-screen {
  background: linear-gradient(-175deg, #8e8f99 10%, #494d73 50%, #3a3d5c 70%);
}
.app-name {
  font-size: 68px;
}
.begin {
  width: 170px;
  height: 54px;
  line-height: 54px;
  font-size: 17px;
  border-radius: 50px;
}
